.body {
    background-color: rgb(48, 48, 7);
}
.header {
    background-color: rgb(179, 70, 70);
    padding: 10px 30px;
    color: white;
}
.but {
    background-color: rgb(34, 77, 90);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}
.imago {
    max-width: 300px;
    border-radius: 50%;
}